<div layout="column" layout-padding layout-fill>
    <div>
        <md-input-container flex>
            <label>Symbol set</label>
            <md-select ng-model="settings.currentSymbolSet">
                <md-option ng-value="symbolSet" ng-repeat="symbolSet in symbolData.symbolSets">{{symbolSet.digits}}
                    {{symbolSet.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-content class="md-whiteframe-z1" flex>
        <md-list>
            <md-subheader>Tables</md-subheader>
            <md-list-item>
                <md-button ui-sref=".symboltable">Symbols</md-button>
            </md-list-item>
            <md-list-item ng-if="settings.currentSymbolSet.specialEntitySubTypes">
                <md-button ui-sref=".specialsubtypes">Special subtypes</md-button>
            </md-list-item>
            <md-list-item>
                <md-button ui-sref=".modifierone">Modifier ones</md-button>
            </md-list-item>
            <md-list-item>
                <md-button ui-sref=".modifiertwo">Modifier twos</md-button>
            </md-list-item>
        </md-list>
    </md-content>
    <br>

    <div class="md-whiteframe-z1">
        <md-subheader>Symbol</md-subheader>
        <div class="panel-body">
            <div class="sidebar-milsymbol milsymbol" style="transform: scale(1.5)">
                <img class="symbol-sm" ng-src="{{symb.frameFn}}"/>
                <img class="symbol-sm" ng-src="{{symb.entityFn}}"/>
                <img class="symbol-sm" ng-src="{{symb.mod1Fn}}"/>
                <img class="symbol-sm" ng-src="{{symb.mod2Fn}}"/>
            </div>
        </div>
    </div>

    <md-list>
        <md-subheader>Settings</md-subheader>
        <md-list-item>
            <md-switch ng-model="settings.showDebugInfo">Show debug info
                <md-tooltip>Show internal meta data</md-tooltip>
            </md-switch>
        </md-list-item>
        <md-list-item>
            <md-switch ng-model="settings.useCivilianFrames" ng-change="redrawSymbolSet()">Use civilian frames
            </md-switch>
        </md-list-item>
    </md-list>
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">Settings</div>-->
        <!--<div class="panel-body">-->
            <!--<div class="checkbox" title="Show internal meta data">-->
                <!--<label><input type="checkbox" ng-model="settings.showDebugInfo">Show debug info</label>-->
            <!--</div>-->
            <!--<div class="checkbox" title="Use civilian frames (visible when you change symbol set)">-->
                <!--<label><input type="checkbox" ng-click="redrawSymbolSet()" ng-model="settings.useCivilianFrames">Use-->
                    <!--civilian frames</label>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="checkbox" title="Show only modifiers with the LimitUseTo attribute set">&ndash;&gt;-->
            <!--&lt;!&ndash;<label><input type="checkbox" ng-model="settings.showLimitUseToOnly">Show limited modifiers only</label>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
</div>
