<md-list>
    <md-subheader>Settings</md-subheader>
    <md-list-item>
        <md-switch ng-model="settings.alternateAmplifiers">Use alternate status amplifiers
            <md-tooltip>Use colored bars for visualizing status</md-tooltip>
        </md-switch>
    </md-list-item>
    <md-list-item>
        <md-switch ng-model="settings.useCivilianFrame">Use civilian frames
            <md-tooltip>Use civilian frames if available</md-tooltip>
        </md-switch>
    </md-list-item>
    <md-list-item>
        <md-switch ng-model="settings.limitUseTo">Limit modifiers
            <md-tooltip>Limit some modifiers to specific symbols</md-tooltip>
        </md-switch>
    </md-list-item>
    <md-list-item>
        <md-switch ng-model="settings.showDebugInfo">Show debug info
            <md-tooltip>Show internal meta data</md-tooltip>
        </md-switch>
    </md-list-item>
</md-list>


