<div>
    <md-button ng-click="sideNav.toggleSideNav()" class="md-toolbar-tools" hide-gt-lg aria-label="Menu"><i
            class="mdi mdi-menu"></i></md-button>
</div>
<div ui-view="bar"></div>
<div flex>
    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden"><span class="app-title">{{title}}</span>
        <span class="app-subtitle">{{subTitle}}</span></div>
</div>
<div hide show-gt-sm>
    <md-button class="md-toolbar-tools" ui-sref="explore">
        <md-tooltip>Explore symbol identification codes</md-tooltip>
        Explore
    </md-button>
</div>
<div hide show-gt-sm>
    <md-button class="md-toolbar-tools" ui-sref="symbolSet">Browse
        <md-tooltip>Browse symbol set</md-tooltip>
    </md-button>
</div>
<div hide show-gt-sm>
    <md-button class="md-toolbar-tools" ui-sref="about" aria-label="About">About</md-button>
</div>
<div hide-gt-sm>
    <md-button class="md-toolbar-tools" aria-label="Navigation" ng-click="toolbarCtrl.openBottom($event)"><i
            class="mdi mdi-dots-vertical"></i>
    </md-button>
</div>
<div hide show-gt-sm>
    <md-button class="md-toolbar-tools" aria-label="Navigation"
               ng-href="https://github.com/kjellmf/military-symbology-explorer"><i class="mdi mdi-github-circle"></i>
        <md-tooltip>View on GitHub</md-tooltip>
    </md-button>
</div>
<div>
    <md-button class="md-toolbar-tools" ng-click="toolbarCtrl.openRight()" aria-label="Settings">
        <md-tooltip>Settings</md-tooltip>
        <i class="mdi mdi-settings"></i>
    </md-button>
</div>
