<md-content>
    <h1 class="md-display-2">Joint
        military symbology explorer
    </h1>

    <p>An experimental MIL-STD-2525D/APP6X symbology explorer based on the <a
            href="https://github.com/Esri/joint-military-symbology-xml">Joint Military Symbology Markup Language
        (JMSML)</a>
        project.</p>

    <md-grid-list md-cols="4" md-cols-gt-md="9" md-row-height="70px">
        <md-grid-tile
                ng-repeat="sidc in ['10131000001211050000',
                                   '10233000001201000000',
                                   '10051000001211040000',
                                   '10031030141211040000',
                                   '10031500321112030000',
                                   '10031000161211002019',
                                   '10033000001500000000',
                                   '10031000001110980000',
                                   '10031002181211020000'
                                   ]">
            <a href="#/explore/{{sidc}}">
                <milsymbol sic="{{sidc}}"></milsymbol>
            </a>
            <md-tooltip>{{sidc}}</md-tooltip>
        </md-grid-tile>
    </md-grid-list>


    <div layout="row" layout-wrap layout-padding>

        <div flex="25">
            <div class="thumbnail">
                <div class="caption ">
                    <h3>Explore symbol</h3>

                    <p>Learn symbol identification codes</p>

                    <p>
                        <a ui-sref="explore" class="btn btn-primary">Explore</a>
                    </p>
                </div>
            </div>
        </div>

        <div flex="25" flex-sm="50">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Browse symbol set</h3>

                    <p>See available symbols</p>

                    <p>
                        <a ui-sref="symbolSet" class="btn btn-primary">Browse</a>
                    </p>
                </div>
            </div>
        </div>

        <div flex="25">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Search</h3>

                    <p>Search for symbols and modifiers</p>

                    <p>
                        <a ui-sref="search" class="btn btn-primary">Search</a>
                    </p>
                </div>
            </div>
        </div>

        <div flex="25">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Frames</h3>

                    <p>See dimension and standard identity</p>

                    <p>
                        <a ui-sref="frames" class="btn btn-primary">Show frames</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->


</md-content>





